domain_name: "${domain_name}"
safe_mode_password: "${safe_mode_password}"
netbios_name: "${netbios_name}"

user_ou: "CN=Users,DC=csrp,DC=local"

admin_user_name: "${domain_admin}"
admin_user_display_name: "Administrator"
admin_password: "${domain_admin_password}"

entra_connect_user_name: "${entra_connect_config.username}"
entra_connect_display_name: "${entra_connect_config.display_name}"
entra_connect_password: "${entra_connect_config.password}"

domain_path: "DC=csrp,DC=local"

guid_replicate_dc: "1131f6aa-9c07-11d1-f79f-00c04fc2dcd2"
guid_replicate_dc_all: "1131f6ad-9c07-11d1-f79f-00c04fc2dcd2"
guid_reset_password: "00299570-246d-11d0-a768-00aa006e0529"

installer_url: "https://download.microsoft.com/download/B/0/0/B00291D0-5A83-4DE7-86F5-980BC00DE05A/AzureADConnect.msi"
installer_path: "C:\\Temp\\AzureADConnect.msi"
