domain_name: "${domain_name}"

domain_users:
  - username: "${scenario2_users[0].username}"
    description: "${scenario2_users[0].description}"
    display_name: "${scenario2_users[0].display_name}"
    password: "${scenario2_users[0].password}"
    ou: "${scenario2_users[0].ou}"
    groups:
      - "${scenario2_users[0].groups[0]}"

users:
%{ for user in scenario2_config.users ~}
  - "${user}"
%{ endfor ~}

group: "${scenario2_config.group}"

run_as_username: "${domain_admin}"
run_as_password: "${domain_admin_password}"

filename: "Top_Clients_Contracts.docx"
