resource_group: "${resource_group}"
location: "${location}"
network_watcher_name: "${network_watcher_name}"
windows_server_id: "${windows_server_id}"
windows_11_id: "${windows_11_id}"
storage_account_id: "${storage_account_id}"
win_server_capture_name: "win-server-capture"
win11_capture_name: "win11-capture"
win_server_capture_path: "win-server-capture.pcap"
win11_capture_path: "win11-capture.pcap"